@use "../utils/_variables" as *;
@use "../utils/_mixins" as *;
@use "sass:color";

footer {
  background-color: #f8fbff;
  color: $white;
  padding: 20px 0;
  max-width: $max-width;
  width: 96%;
  margin: 5px auto;
  border-radius: $border-radius;

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footer-logo img {
      width: 100px;
      padding-left: 50px;
    }

    .footer-links ul {
      list-style: none;
      display: flex;

      li {
        margin-right: 20px;

        a {
          text-decoration: none;
          color: #1a1a1a;
          font-weight: bold;
        }
      }
    }
  }

  .footer-bottom {
    margin-top: 10px;
    text-align: center;
  }
}