@use "../utils/_variables" as *;
@use "../utils/_mixins" as *;

.container {
  max-width: $max-width;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include mobile {
    flex-direction: column;
  }
}
