@use "../utils/_variables" as *;

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gallery-item {
  width: 300px;
  height: auto;
  margin: 30px;
  border-radius: 10px;
  overflow: hidden;
  background: rgba(255,255,255,0.6);
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
  backdrop-filter: blur(7px);

  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .book-info {
    p {
      font-family: $font-title;
      font-size: 14px;
      text-align: left;
      margin-left: 15px;
    }

    .loan-status {
      text-align: center;
      display: inline-block;
      margin: 10px auto;
      padding: 7px 14px;
      border-radius: 20px;
      font-weight: 600;
    }

    .available {
      background-color: #ccffcc;
    }

    .unavailable {
      background-color: #ffcccc;
    }

    .loan-period {
      text-align: center;
      font-size: 14px;
      margin-top: 5px;
    }

    .LB-available {
      margin: 12px auto 12px;
      border: none;
      border-radius: 20px;
      background-color: $blue;
      color: $white;
      padding: 8px 16px;
      cursor: pointer;
      transition: background-color .3s;
      display: block;
      //margin-bottom: 12px;

      &:hover { background-color: $blue-hover; }
      &:active { background-color: $blue-active; }
    }
  }
}