@use "../utils/_variables" as *;

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  .pagination-button {
    background-color: $blue;
    color: $white;
    border: none;
    padding: 8px 13px;
    border-radius: 20px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 16px;

    &:hover {
      background-color: $blue-hover;
    }
    &:active {
      background-color: $blue-active;
    }
  }
}
