@use "../utils/_variables" as *;

.slider {
  max-width: $max-width;
  width: 96%;
  overflow: hidden;
  margin: 0 auto;
  border-radius: $border-radius;
  margin-top: 5px;
  margin-bottom: 5px;

  .slider-container {
    display: flex;
    transition: transform 1.5s ease-in-out;

    .slide {
      min-width: 100%;
      box-sizing: border-box;

      img {
        width: 100%;
        height: 100%;
        display: block;
      }
    }
  }
}
