@use "../utils/_variables" as *;
@use "../utils/_mixins" as *;

.sort {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: $max-width;
  width: 96%;
  margin: 10px auto;

  button {
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 20px;
    background-color: $blue;
    color: $white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;

    &:hover {
      background-color: $blue-hover;
    }
    &:active {
      background-color: $blue-active;
    }
  }

  @include mobile {
    button {
      font-size: 12px;
    }
  }
}
