@use "../utils/_variables" as *;


.slider {
  max-width: $max-width;
  width: 96%;
  overflow: hidden;
  margin: 5px auto;
  border-radius: $border-radius;

  .slider-container {
    display: flex;
    transition: transform 1.5s ease-in-out;
  }

  .slide {
    min-width: 100%;
    box-sizing: border-box;

    img {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}
