@use "../utils/_variables" as *;

.books-page {
  .content-block {
    max-width: $max-width;
    width: 100%;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    background-color: $white;
    border-radius: $border-radius;
    margin-bottom: 5px;

    h2 {
      font-size: 36px;
      font-weight: 800;
      margin-bottom: 30px;
    }

    p {
      font-size: 20px;
      font-weight: 400;
      line-height: 1.6;
      margin-bottom: 20px;
    }
  }
}
