@use "../utils/_variables" as *;

.loan-form-container {
  max-width: $max-width;
  width: 96%;
  margin: 0 auto;
  background-color: $white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);

  form {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;

    h2 {
      font-size: 36px;
      font-weight: 800;
      text-align: center;
      margin-bottom: 20px;
    }

    .form-group {
      margin-bottom: 15px;

      label {
        font-weight: bold;
        margin-bottom: 5px;
      }

      input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-top: 5px;
      }
    }

    button {
      background-color: $blue;
      color: $white;
      padding: 10px;
      border-radius: 20px;
      cursor: pointer;
      font-size: 16px;

      &:hover {
        background-color: $blue-hover;
      }
    }
  }
}
