@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Open+Sans:ital,wght@0,400;0,600;0,800;1,700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(238, 238, 238);
  }
  
  header {
    margin-bottom: 5px; /* Add space below the header */
  }
  
  .slider {
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 5px; /* Add space below the slider */
  
    .slider-container {
      display: flex;
      transition: transform 1.5s ease-in-out;
  
      .slide {
        min-width: 100%;
        box-sizing: border-box;
  
        img {
          width: 100%;
          height: 100%;
          display: block;
        }
      }
    }
  }
  
  nav {
    background-color: white;
    text-align: center;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 10px;
    margin-bottom: 5px; /* Add space below the navbar */
    position: sticky;
    top: 0; /* Stick to the top of the viewport */
    z-index: 1000; /* Ensure it's on top of other elements */
  
    .logo {
      display: flex;
      align-items: center;
      margin-left: 20px;
  
      a {
        display: block;
      }
  
      img {
        width: 100px;
        height: auto;
      }
    }
  
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap; /* Allow items to wrap to the next line */
  
      li {
        margin: 0 10px;
        position: relative;
  
        a {
          text-decoration: none;
          color: #007BFF;
          padding: 10px 15px;
          display: inline-block;
          font-size: 20px; /* Set your desired font size */
  
          &:hover {
            background-color: #dfefff;
            border-radius: 10px;
          }
        }
  
        /* Vertical line separator */
        &:not(:last-child)::after {
          content: "|";
          color: #b7daff;
          margin-left: 10px;
        }
  
        /* Submenu styles */
        ul {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          background-color: white;
          padding: 10px 0;
          font-size: 12px;
  
          /* Horizontal line separator for submenu */
          li {
            &:not(:last-child)::after {
              content: "";
              display: block;
              height: 0px; /*line is removed by default*/
              background-color: #007BFF;
              margin: 5px 0;
            }
          }
        }
  
        &:hover > ul {
          display: block;
        }
  
        ul li {
          margin: 0;
          width: 100%;
          text-align: left;
        }
      }
    }
}

@media (max-width: 767px) {
    /* Media query for smaller screens */
    nav {
    ul {
    //   flex-direction: column; /* Stack items vertically */
      align-items: center; /* Center align items horizontally */
     li {
        margin: 0;
            a {
                font-size: small; /* Adjust font size for smaller screens */
                }

                &:not(:last-child)::after {
                    content: "";/*removed vertical line for small screens*/
                    color: #b7daff;
                    margin-left: 10px;
                  }
            }
        }
    }
}

  .breadcrumbs {
    background-color: rgb(77, 77, 77);
    color: #fff;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    font-size: small;
    border-radius: 10px;
    margin-bottom: 5px; /* Add space below the breadcrumbs */
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
    @media (max-width: 767px) {
      flex-direction: column;
    }
  }
  

  .content-block {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
    background-color: #f8f8f8;
    border-radius: 10px;
    margin-bottom: 5px; /* Add space below the content block */
  
    h2 {
      font-size: 36px;
      font-weight: 800;
      margin-bottom: 30px;
    }
  
    p {
      font-size: 20px;
      font-weight: 400;
      line-height: 1.6;
      margin-bottom: 20px;
    }
  
    .loan-button {
      background-color: #007BFF;
      color: #fff;
      border: none;
      padding: 15px 30px;
      font-size: 20px;
      cursor: pointer;
      border-radius: 8px;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #0056b3;
      }
    }
  
    @media (max-width: 1200px) {
        max-width: calc(100% - 20px);
      }

    @media (max-width: 767px) {
      margin-bottom: 0;
    }
  }

  .gallery-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .gallery-item {
    width: 300px;
    height: 300px;
    margin: 10px;
    overflow: hidden;
  }
  
  .gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .pagination-container {
    margin-top: 20px;
  }
  
  .pagination-button {
    margin: 0 5px;
    cursor: pointer;
  }
  