@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Open+Sans:ital,wght@0,400;0,600;0,800;1,700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(238, 238, 238);
  }
  
  header {
    margin-bottom: 5px; /* Add space below the header */
  }
  
  .slider {
    max-width: 1200px;
    width: 96%;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 7px;
    margin-bottom: 5px; /* Add space below the slider */
    margin-top: 5px;
  
    .slider-container {
      display: flex;
      transition: transform 1.5s ease-in-out;
  
      .slide {
        min-width: 100%;
        box-sizing: border-box;
  
        img {
          width: 100%;
          height: 100%;
          display: block;
        }
      }
    }
  }
  
  nav {
    background-color: white;
    text-align: center;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 96%;
    margin: 0 auto;
    border-radius: 7px;
    margin-bottom: 5px; /* Add space below the navbar */
    position: sticky;
    top: 0; /* Stick to the top of the viewport */
    z-index: 1000; /* Ensure it's on top of other elements */
  
    .logo {
      display: flex;
      align-items: center;
      margin-left: 20px;
  
      a {
        display: block;
      }
  
      img {
        width: 100px;
        height: auto;
      }
    }
  
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap; /* Allow items to wrap to the next line */
  
      li {
        
        position: relative;
  
        a {
          text-decoration: none;
          color: #007BFF;
          padding: 8px 16px;
          display: inline-block;
          font-size: 18px; /* Set your desired font size */
          font-family: 'Nunito Sans', sans-serif;
          font-weight: 800;
  
          &:hover {
            background-color: #dfefff;
            border-radius: 20px;
          }
        }
  
        /* Vertical line separator */
        &:not(:last-child)::after {
          content: "|";
          color: #b7daff;
        }
  
        /* Submenu styles */
        ul {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          background-color: white;
          padding: 10px 0;
          font-size: 12px;
  
          /* Horizontal line separator for submenu */
          li {
            &:not(:last-child)::after {
              content: "";
              display: block;
              height: 0; /*line is removed by default*/
              background-color: #007BFF;
              margin: 5px 0;
              
            }
          }
        }
  
        &:hover > ul {
          display: block;
        }
  
        ul li {
          margin: 0;
          width: 100%;
          text-align: left;
        }
      }
    }
}

@media (max-width: 767px) {
    /* Media query for smaller screens */
    nav {
    ul {
    //   flex-direction: column; /* Stack items vertically */
      align-items: center; /* Center align items horizontally */
     li {
        margin: 0;
            a {
                font-size: small;
                padding-left: 15px; /* Adjust font size for smaller screens */
                padding-right: 15px;
                }

                &:not(:last-child)::after {
                    content: "";/*removed vertical line for small screens*/
                    color: #b7daff;
                    margin-left: 10px;
                  }
            }
        }
    }
}

  .breadcrumbs {
    background-color: rgb(255, 255, 255);
    color: #007BFF;
    max-width: 1200px;
    width: 96%;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    font-size: small;
    border-radius: 7px;
    margin-bottom: 5px; /* Add space below the breadcrumbs */
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
    @media (max-width: 767px) {
      flex-direction: column;
    }
  }
  

  .content-block {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
    background-color: white;
    border-radius: 7px;
    margin-bottom: 5px; /* Add space below the content block */
  
    h2 {
      font-size: 36px;
      font-weight: 800;
      margin-bottom: 30px;
    }
  
    p {
      font-size: 20px;
      font-weight: 400;
      line-height: 1.6;
      margin-bottom: 20px;
    }
  
    .loan-button {
      background-color: #007BFF;
      color: #fff;
      border: none;
      padding: 8px 16px;
      font-size: 16px;
      cursor: pointer;
      border-radius: 20px;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #0056b3;
      }
    }
  
    @media (max-width: 1200px) {
        max-width: calc(100% - 20px);
      }

    @media (max-width: 767px) {
      margin-bottom: 0;
    }
  }

  .gallery-container {

    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
  }
  
  .gallery-item {
    width: 300px;
    height: 500px;
    margin: 30px;
    border-radius: 10px;
    overflow: hidden;

    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
  }
  
  .gallery-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  
  .pagination-container {
    display: flex;
    justify-content: center;
  }
  
  .pagination-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 8px 13px;
    border-radius: 20px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 16px;
    &:hover {
      background-color: #357ae8;
  }

  &:active {
      background-color: #2557a7; 
  }
  }

 

  // dynamic book info

  .book-info {

  p {
    font-family: nunito sans, sans-serif;
    font-size: 14px;
    text-align: left;
    margin-left: 15px;
    margin-bottom: 0;
    margin-top: 0;
  }
}

//"loan book" button if book is available
 
.gallery-item .book-info .LB-available {
  margin: 0 auto;
  border: none;
  border-radius: 20px;
  background-color: #007BFF;
  margin-top: 15px;

  color: #ffffff; /* White text color */
  padding: 8px 16px; /* Adjust padding as needed */
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
      background-color: #357ae8;
  }

  &:active {
      background-color: #2557a7; 
  }
}


.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px; /* Maximum width for responsiveness */
  width: 96%;
  margin-top: 15px;

  input {
    padding: 8px;
    border: 1px solid #4d90fe;
    border-radius: 20px; /* Rounded corners */
    width: 100%; /* Set width to 100% to make it responsive */
    max-width: 800px; /* Set a maximum width */
    font-size: 16px;
    margin-right: 5px;

    &:focus {
      outline: none;
      border-color: #4d90fe; /* Google's search bar border color when focused */
    }
  }

  button {
    padding: 8px 16px;
    background-color: #007BFF; /* Google's search button background color */
    color: #fff; /* Google's search button text color */
    border: none;
    border-radius: 20px; /* Rounded corners */
    cursor: pointer;
    font-size: 16px;

    &:hover {
      background-color: #357ae8; /* Google's search button background color on hover */
    }

    &:active {
      background-color: #2557a7; /* Google's search button background color when clicked */
    }
  }

  @media (max-width: 768px) {
    /* Adjust styles for smaller screens if needed */
    input {
      max-width: 100%;
    }
  }
}

//sorting buttons
.sort {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0  auto;
  max-width: 1200px;
  margin-top: 10px;

  button {
    margin-bottom: 10px; /* Add space between buttons */
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 20px;
    background-color: #007BFF; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    border-radius: 20px; /* Rounded corners */
    cursor: pointer;
    font-size: 16px;

    &:hover {
      background-color: #357ae8; /* Button background color on hover */
    }

    &:active {
      background-color: #2557a7; /* Button background color when clicked */
    }

    & + button {
      margin-left: 5px; /* Add space between adjacent buttons */
    }

    @media (max-width: 767px) {
      font-size: 12px;
    }
  }
}



//Form styling (Service page)

.loan-form-container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 96%;
}

form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-left: 40px;
}

h2 {
  font-size: 36px;
  font-weight: 800;
  text-align: center;
  padding: 20px;
}
.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 5px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

/* Main styles */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  max-width: 1200px;
  width: 96%;
  margin: 0 auto;
  border-radius: 7px;
  margin-top: 5px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.footer-logo img {
  width: 100px; /* Adjust the size as needed */
  padding-left: 50px;
}

.footer-links ul {
  list-style: none;
  display: flex;
}

.footer-links li {
  margin-right: 20px;
}

.footer-links a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.footer-social {
  /* Add styling for social media icons or links */
}

.footer-bottom {
  margin-top: 10px;
  text-align: center;
  font-size: 12px;
  color: #ccc;
}